<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <a class="fb-ic" href="https://www.facebook.com" target="_blank">
                        <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>

                    <a class="tw-ic" href="https://www.twitter.com" target="_blank">
                        <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>

                    <a class="li-ic" href="https://www.linkedin.com" target="_blank">
                        <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>

                    <a class="ins-ic" href="https://www.instagram.com" target="_blank">
                        <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>

                    <a class="pin-ic" href="https://www.Pinterest.com" target="_blank">
                        <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://ge.itstep.org/" target="_blank"> Itstep</a>
    </div>

</footer>