<div class="body">
    <form class='container ' #mySearch="ngForm" class='mySearch' (ngSubmit)='searchHotel(mySearch )'>

        <div class='row search col-12'>

            <div class='col-2 search '>
                <select class=' mt-2' type="text" name="city" [(ngModel)]="hotel.city">
                <option>City</option>
                <option *ngFor="let city of cities">{{city}}</option>    
            </select>
            </div>

            <div class='col-2'>

                <select class=' mt-2' type="text" name="starNumber" [(ngModel)]='hotel.starNumber'>
                <option >Hotel star</option>
                <option *ngFor="let star of starNumber">Hotel star: {{star}}</option>    
             </select>
            </div>

            <div class='col-2 '>
                <select class=' mt-2' type="text" name="RoomsNumber" [(ngModel)]='hotel.RoomsNumber'>
                <option >Rooms Number</option>
                <option *ngFor="let rooms of RoomsNumber" >Rooms Number: {{rooms}}</option>    
             </select>
            </div>

            <div class='col-2 '>
                <select class=' mt-2' type="text" name="generalcharacteristics" [(ngModel)]='hotel.generalcharacteristics' multiple>
                <option >General Char.</option>
                <option *ngFor="let gen of generalcharacteristics" >{{gen}}</option>    
             </select>

            </div>

            <div class='col-2 '>
                <button type="submit" class='  mt-2 search'>Search</button>
            </div>


        </div>

    </form>





    <section class="hotels" *ngIf="hidden">
        <div class="wrapper">

            <div class="hotels-holder">
                <ul class="hotels-ul">
                    <li class="hotels-li" *ngFor="let hotel of hotels">
                        <div class="hotels-image-holder">
                            <img [src]="hotel.imgLink">
                        </div>

                        <a class="see-more" [routerLink]="'/details/' + hotel.key">{{hotel.hotelName}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="hotels" *ngIf="!hidden">
        <div class="wrapper">

            <div class="hotels-holder">
                <ul class="hotels-ul">
                    <li class="hotels-li" *ngFor="let hotel of newHotels">
                        <div class="hotels-image-holder">
                            <img [src]="hotel.imgLink">
                        </div>

                        <a class="see-more" [routerLink]="'/details/' + hotel.key">{{hotel.hotelName}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <router-outlet>

    </router-outlet>






    <!-- <form class='container mt-7' #myForm="ngForm" class='myForm' (ngSubmit)='addHotel()'>

    <div class='row'>

        <div class='col-12 '>
            <input class='transparent mt-2' type="text" placeholder="HotelName" name="hotelName" [(ngModel)]='hotel.hotelName' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="text" placeholder="City" name="city" [(ngModel)]='hotel.city' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="text" placeholder="Address" name="address" [(ngModel)]='hotel.address' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="number" placeholder="StarNumber" name="starNumber" [(ngModel)]='hotel.starNumber' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="number" placeholder="RoomsNumber" name="RoomsNumber" [(ngModel)]='hotel.RoomsNumber' required>
        </div>

        <div class='col-12 '>

            <input class='transparent mt-2' type="text" placeholder="generalcharacteristics" name="generalcharacteristics" [(ngModel)]='hotel.generalcharacteristics' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="text" placeholder="ImgLink" name="imgLink" [(ngModel)]='hotel.imgLink' required>
        </div>

        <div class='col-12 '>
            <button type="submit" class='transparent mt-2'>Enter</button>
        </div>


    </div>

</form> -->


</div>