<section class="hotels">
    <div class="wrapper">

        <div class="hotels-holder">
            <ul class="hotels-ul">
                <li class="hotels-li" *ngFor="let hotel of hotels">
                    <div class="hotels-image-holder">
                        <img [src]="hotel.imgLink">
                    </div>

                    <a class="see-more" [routerLink]="'/details/' + hotel.key">{{hotel.hotelName}}</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<router-outlet>

</router-outlet>






<form class='container mt-7' #myForm="ngForm" class='myForm' (ngSubmit)='addHotel()'>

    <div class='row'>

        <div class='col-12 '>
            <input class='transparent mt-2' type="text" placeholder="HotelName" name="hotelName" [(ngModel)]='hotel.hotelName' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="text" placeholder="City" name="city" [(ngModel)]='hotel.city' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="text" placeholder="Address" name="address" [(ngModel)]='hotel.address' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="number" placeholder="StarNumber" name="starNumber" [(ngModel)]='hotel.starNumber' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="number" placeholder="RoomsNumber" name="RoomsNumber" [(ngModel)]='hotel.RoomsNumber' required>
        </div>

        <div class='col-12 '>

            <input class='transparent mt-2' type="text" placeholder="generalcharacteristics" name="generalcharacteristics" [(ngModel)]='hotel.generalcharacteristics' required>
        </div>

        <div class='col-12 '>
            <input class='transparent mt-2' type="text" placeholder="ImgLink" name="imgLink" [(ngModel)]='hotel.imgLink' required>
        </div>

        <div class='col-12 '>
            <button type="submit" class='transparent mt-2'>Enter</button>
        </div>


    </div>

</form>