.body {
    height: 100%;
    width: 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgba(255, 255, 255, 0.747);
    font-size: 5em;
}