<div class="container">
    <div class="row">
        <div class="col-md-5  col-sm-6  m-3">
            <div class="mostDemandHotels">Most in demand regions</div>
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="../../assets/Region/Kutaisi.jpg" height="250px" alt="Kutaisi">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Kutaisi</h3>
                        <p>First place</p>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="../../assets/Region/batumi.jpg" height="250px" alt="Batumi">
                        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Batumi</h3>
                        <p>Secondary place</p>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="../../assets/Region/Kakheti.jpg" height="250px" alt="Kakheti">
                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Kakheti</h3>
                        <p>Third place</p>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
        <div class="col-md-5 col-sm-6  m-3">
            <div class="mostDemandHotels">Most in demand Hotels</div>
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>

                    <div class="view w-100">
                        <img class="d-block w-100" src="../../assets/Hotels/biltmore.jpg" height="250px" alt="Biltmore Tbilisi">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">The Biltmore Tbilisi Hotel</h3>
                        <p>First place</p>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="../../assets/Hotels/seaside.jpg" height="250px" alt="Seaside">
                        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Seaside</h3>
                        <p>Secondary place</p>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="../../assets/Hotels/Hilton Batumi.jpg" height="250px" alt="Hilton Batumi">
                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Hilton Batumi</h3>
                        <p>Third place</p>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>

        </div>
        <div class="col-12 mt-5 mostDemandHotels">
            „საქართველოს ტურიზმის სტრატეგია 2025“-ის მიზანია ისეთი გზამკვლევის შექმნა, რომელიც ხელს შეუწყობს ტურიზმის მდგრად განვითარებას, მიღებული შემოსავლების გაზრდასა და დარგის მნიშვნელობის ამაღლებას. საქართველოს მთავრობის ამოცანაა შემუშავდეს და განხორციელდეს
            გეგმა, რომელიც მდიდარ ბუნებრივ და კულტურულ რესურსებს მსოფლიო დონის ტურისტულ პროდუქტად და უნიკალური შთაბეჭდილებების მიღების შესაძლებლობად აქცევს. ხსენებული მოიზიდავს უფრო მაღალგადახდისუნარიან ტურისტებს ევროკავშირის ქვეყნებიდან, ჩრდილოეთ ამერიკიდან,
            ახლო აღმოსავლეთიდან და აზიიდან.
        </div>
    </div>
</div>